! URxvt Settings ------------------------------------------------------------  
! Molokai theme
URxvt*background: #101010
URxvt*foreground: #d0d0d0
uRxvt*cursorColor: #d0d0d0
uRxvt*colorBD: #3579a8
uRxvt*colorUL: #4eb4fa
URxvt*color0: #101010
URxvt*color1: #960050
URxvt*color2: #66aa11
URxvt*color3: #c47f2c
URxvt*color4: #30309b
URxvt*color5: #7e40a5
URxvt*color6: #3579a8
URxvt*color7: #9999aa
URxvt*color8: #303030
URxvt*color9: #ff0090
URxvt*color10: #80ff00
URxvt*color11: #ffba68
URxvt*color12: #5f5fee
URxvt*color13: #bb88dd
URxvt*color14: #4eb4fa
URxvt*color15: #d0d0d0

! Fade the text by the given percentage when focus is lost; option -fade.
URxvt*fading: 50

! Set the application icon pixmap; option -icon.
! URxvt*iconFile: file

! Select the fonts to be used. This is a comma separated list of font names that are
URxvt*font: xft:Source Code Pro:size=7

! Set window urgent when bell is issued.
URxvt.urgentOnBell: True

! URxvt*boldFont: fontlist

! URxvt*italicFont: fontlist

! The font list to use for displaying bold, italic or bold italic characters, respectively.
! URxvt*boldItalicFont: fontlist

! True: enable the scrollbar [default]; option -sb. False: disable the scrollbar; option
URxvt*scrollBar: False

! Internal border of number pixels. This resource is limited to 100; option -b.
URxvt*internalBorder: 0

! External border of number pixels. This resource is limited to 100; option -w, -bw,
URxvt*externalBorder: 0

! True: blink the cursor. False: do not blink the cursor [default]; option -bc.
URxvt*cursorBlink: True

! True: blank the pointer when a key is pressed or after a set number of seconds of
URxvt*pointerBlank: True

! Mouse pointer foreground colour.
! URxvt*pointerColor: colour

! Mouse pointer background colour.
! URxvt*pointerColor2: colour

! Set the key to be interpreted as the Meta key to: alt, meta, hyper, super, mod1, mod2,
! URxvt*modifier: modifier

! Enable url matcher
URxvt*perl-ext-common: default,matcher
URxvt.matcher.button: 1

! Specifies the program to be started with a URL argument. Used by the "selection-popup"
URxvt*url-launcher: /usr/bin/firefox


! Xcursor ---------------------------------------------------------------------
Xcursor.theme: whiteglass

! Xft -------------------------------------------------------------------------
Xft.dpi: 113
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


! Xscreensaver ----------------------------------------------------------------

xscreensaver.timeout:	0:10:00
xscreensaver.cycle:		0
xscreensaver.lock:		True
xscreensaver.lockTimeout:	0:00:30
xscreensaver.passwdTimeout:	0:00:30
xscreensaver.visualID:	default
xscreensaver.timestamp:	True
xscreensaver.splash:		False
xscreensaver.fadeSeconds:	0:00:03
xscreensaver.fadeTicks:	20
xscreensaver.dpmsEnabled:	True
xscreensaver.dpmsQuickOff:	True
xscreensaver.grabDesktopImages:  False
xscreensaver.grabVideoFrames:    False

xscreensaver.mode:		blank
xscreensaver.selected:	-1

xscreensaver.textMode:	file
xscreensaver.textLiteral:	XScreenSaver
xscreensaver.textFile:	
xscreensaver.textProgram:	fortune
xscreensaver.textURL:	http://en.wikipedia.org/w/index.php?title=Special:NewPages&feed=rss
